.App {
  text-align: center;}
h2{
  text-align: center;}
.container{
  margin: 5%;
 border: 1px solid black;
}
header{
  padding-left: 20px;
  padding-top: 10px;
  height: 40px;
  font-size: 20px
}
hr{
  margin: 0.5px;}
#camera{
  float: right;
  margin-right: 20px;
}
#cards{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
#landing{
  margin: 20px;
}
